<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/custom.css.map">
    <title>Administración Servicios y medicamentos Arte Dental</title>
</head>
<body >
    <header class="">
        <nav class="px-5 navbar navbar-expand-sm bg-white fixed-top">
            <div class="container-fluid">
                <!--LOGO-->
                <a class="navbar-brand" href='/'>
                    <img src="/static/images/arte dental logo.png">
                </a>
                <!--NAV TAB-->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-morado" href="/admin_pacientes">
                            Pacientes
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-morado" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Clínicas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin_sucursales">Sucursales</a></li>
                            <li><a class="dropdown-item" href="/admin_dentistas">Dentistas</a></li>
                            <li><a class="dropdown-item" href="/admin_horarios">Horarios</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-morado" href="/admin_servmed">
                                Servicios y medicamentos
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-morado" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Citas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin_citas">Citas agendadas</a></li>
                            <li><a class="dropdown-item" href="/admin_notas">Notas</a></li>
                            <li><a class="dropdown-item" href="/admin_recetas">Recetas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-morado" href="/log_off">
                                Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr class="" style="height:50px; border-width:0; color:gray; background-color:blue">
    </header>
    <hr class="" style="height:30px; opacity: 1; background-color: #6600A1">
    
    <main class="px-5">
        <!--TABS-->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-morado active" data-bs-toggle="tab" href="#menu_servicios">
                    Servicios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-morado" data-bs-toggle="tab" href="#menu_medicamentos">
                    Medicamentos
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!--CONTENEDOR DE CRUD DE SERVICIOS-->
            <div id="menu_servicios" class="container tab-pane active"><br>
                <h3>Servicios</h3>
                <!--PILLS-->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <button onclick="" class="nav-link active" id="btp1" data-bs-toggle="pill" href="#op1" 
                        type="button" role="pill" aria-controls="op1" aria-selected="true">
                            Registrar servicio
                        </button>
                    </li>
                    <li class="nav-item">
                        <button onclick="" class="nav-link" id="btp2" data-bs-toggle="pill" href="#op2"
                        type="button" role="pill" aria-controls="op2" aria-selected="false">
                            Modificar servicio
                        </button>
                    </li>
                    <li class="nav-item">
                        <button onclick="" class="nav-link" id="btp3" data-bs-toggle="pill" href="#op3" 
                        type="button" role="pill" aria-controls="op3" aria-selected="false">
                            Mostrar servicios
                        </button>
                    </li>
                </ul>
                <!--menu pills-->
                <div class="tab-content">
                    <div id="op1" class="container tab-pane active">
                        <form id="form-nuevo" action="/admin_registrar_servicio" method="POST">
                            <div class="row pt-4">
                                <div class="col">
                                    <label>Nombre</label>
                                    <input name="serv-name" type="text" class="form-control" id="serv-name-field" required>
                                </div>
                                <div class="col">
                                    <label>Es básico (0/1)</label>
                                    <input name="is-basic" type="text" class="form-control" id="is-basic-field" required>
                                </div>
                                <div class="col">
                                    <label>Duración</label>
                                    <input name="serv-dur" type="text" class="form-control" id="serv-dur-field" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <label>Descripción</label>
                                    <input name="serv-desc" type="text" class="form-control" id="serv-desc-field" required>
                                </div>
                                <div class="col">
                                    <label>Categoría</label>
                                    <input name="serv-cat" type="text" class="form-control" id="serv-cat-field" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <button class="btn btn-morado col-sm-3" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                    <div id="op2" class="container tab-pane fade">
                        <form id="form-nuevo" action="/admin_modificarServmed" method="POST">
                            <input type="hidden" name="tabla" value="servicios">
                            <input type="hidden" name="id_nombre" value="serid">
                            <div class="row pt-4">
                                <div class="col">
                                    <label>ID Servicio</label>
                                    <input name="id" type="text" class="form-control" id="id-field" placeholder="1111" required>
                                </div>
                                <div class="col">
                                    <label>Atributo a modificar</label>
                                    <select class="form-control" id="atributo-field" name="atributo" required>
                                        <option disabled selected>Selecciona un atributo</option>
                                        <option>nombreServicio</option>
                                        <option>descripcion</option>
                                        <option>duracion</option>
                                        <option>esBasico</option>
                                        <option>categoria</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Valor nuevo</label>
                                    <input name="valor" type="text" class="form-control" id="valor-field" placeholder="valor" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <button class="btn btn-morado col-sm-3" type="submit">Modificar</button>
                            </div>
                        </form>
                    </div>
                    <div id="op3" class="container tab-pane fade">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Duración</th>
                                    <th>Es básico</th>
                                    <th>Categoría</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for servicio in servicios %}
                                <tr>
                                <td>{{ servicio[0] }}</td>
                                <td>{{ servicio[1] }}</td>
                                <td>{{ servicio[2] }}</td>
                                <td>{{ servicio[3] }}</td>
                                <td>{{ servicio[4] }}</td>
                                <td>{{ servicio[5] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--CONTENEDOR DE CRUD DE MEDICAMENTOS-->
            <div id="menu_medicamentos" class="container tab-pane fade"><br>
                <h3>Medicamentos</h3>
                <!--PILLS-->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="btc1" data-bs-toggle="pill" href="#opc1" 
                        type="button" role="pill" aria-controls="opc1" aria-selected="true">
                            Registrar medicamento
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="btc2" data-bs-toggle="pill" href="#opc2"
                        type="button" role="pill" aria-controls="opc2" aria-selected="false">
                            Modificar medicamento
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="btc3" data-bs-toggle="pill" href="#opc3"
                        type="button" role="pill" aria-controls="opc3" aria-selected="false">
                            Mostrar medicamentos
                        </button>
                    </li>
                </ul>
                <!--menu pills-->
                <div class="tab-content">
                    <div id="opc1" class="container tab-pane active">
                        <form id="form-nuevo" action="/admin_registrar_medicamento" method="POST">
                            <div class="row pt-4">
                                <div class="col">
                                    <label>Nombre</label>
                                    <input name="med-name" type="text" class="form-control" id="med-name-field" required>
                                </div>
                                <div class="col">
                                    <label>Vía de aplicación</label>
                                    <input name="a-route" type="text" class="form-control" id="a-route-field" required>
                                </div>
                                <div class="col">
                                    <label>Dosis</label>
                                    <input name="med-dose" type="text" class="form-control" id="med-dose-field" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <label>Descripción</label>
                                    <input name="med-desc" type="text" class="form-control" id="med-desc-field" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <button class="btn btn-morado col-sm-3" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                    <div id="opc2" class="container tab-pane fade">
                        <form id="form-nuevo" action="/admin_modificarServmed" method="POST">
                            <input type="hidden" name="tabla" value="medicamentos">
                            <input type="hidden" name="id_nombre" value="mid">
                            <div class="row pt-4">
                                <div class="col">
                                    <label>ID Servicio</label>
                                    <input name="id" type="text" class="form-control" id="id-field" placeholder="1111" required>
                                </div>
                                <div class="col">
                                    <label>Atributo a modificar</label>
                                    <select class="form-control" id="atributo-field" name="atributo" required>
                                        <option disabled selected>Selecciona un atributo</option>
                                        <option>nombre</option>
                                        <option>via_aplicacion</option>
                                        <option>descripcion</option>
                                        <option>dosis</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Valor nuevo</label>
                                    <input name="valor" type="text" class="form-control" id="valor-field" placeholder="valor" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <button class="btn btn-morado col-sm-3" type="submit">Modificar</button>
                            </div>
                        </form>
                    </div>
                    <div id="opc3" class="container tab-pane fade">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Vía de aplicación</th>
                                    <th>Descripción</th>
                                    <th>Dosis</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medicina in medicinas %}
                                <tr>
                                <td>{{ medicina[0] }}</td>
                                <td>{{ medicina[1] }}</td>
                                <td>{{ medicina[2] }}</td>
                                <td>{{ medicina[3] }}</td>
                                <td>{{ medicina[4] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <hr class="" style="height:10px; opacity: 1; background-color: #6600A1">

    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/node_modules/jquery/dist/jquery.slim.js"></script>
    <script type="text/javascript">
        let tabActiva = 1;
        $("#btp1").addClass("text-white bg-morado");
        for (var i = 2; i < 4; i++) {
            $("#btp"+i).addClass("text-morado");
        }

        $("#btp1").on("click", function() {
            $("#btp"+tabActiva).removeClass("text-white bg-morado");
            $("#btp"+tabActiva).addClass("text-morado");
            tabActiva = 1;
            $("#btp"+tabActiva).removeClass("text-morado");
            $("#btp"+tabActiva).addClass("text-white bg-morado");
        });

        $("#btp2").on("click", function() {
            $("#btp"+tabActiva).removeClass("text-white bg-morado");
            $("#btp"+tabActiva).addClass("text-morado");
            tabActiva = 2;
            $("#btp"+tabActiva).removeClass("text-morado");
            $("#btp"+tabActiva).addClass("text-white bg-morado");
        });
        
        $("#btp3").on("click", function() {
            $("#btp"+tabActiva).removeClass("text-white bg-morado");
            $("#btp"+tabActiva).addClass("text-morado");
            tabActiva = 3;
            $("#btp"+tabActiva).removeClass("text-morado");
            $("#btp"+tabActiva).addClass("text-white bg-morado");
        });
    
        let tabActiva2 = 1;
        $("#btc1").addClass("text-white bg-morado");
        for (var i = 2; i < 4; i++) {
            $("#btc"+i).addClass("text-morado");
        }

        $("#btc1").on("click", function() {
            $("#btc"+tabActiva2).removeClass("text-white bg-morado");
            $("#btc"+tabActiva2).addClass("text-morado");
            tabActiva2 = 1;
            $("#btc"+tabActiva2).removeClass("text-morado");
            $("#btc"+tabActiva2).addClass("text-white bg-morado");
        });

        $("#btc2").on("click", function() {
            $("#btc"+tabActiva2).removeClass("text-white bg-morado");
            $("#btc"+tabActiva2).addClass("text-morado");
            tabActiva2 = 2;
            $("#btc"+tabActiva2).removeClass("text-morado");
            $("#btc"+tabActiva2).addClass("text-white bg-morado");
        });
        
        $("#btc3").on("click", function() {
            $("#btc"+tabActiva2).removeClass("text-white bg-morado");
            $("#btc"+tabActiva2).addClass("text-morado");
            tabActiva2 = 3;
            $("#btc"+tabActiva2).removeClass("text-morado");
            $("#btc"+tabActiva2).addClass("text-white bg-morado");
        });

    </script>
</body>
</html>

