<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/custom.css.map">
    <title>Administración Dentistas Arte Dental</title>
</head>
<body >
    <header class="">
        <nav class="px-5 navbar navbar-expand-sm bg-white fixed-top">
            <div class="container-fluid">
                <!--LOGO-->
                <a class="navbar-brand" href='/'>
                    <img src="/static/images/arte dental logo.png">
                </a>
                <!--NAV TAB-->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-morado" href="/admin_pacientes">
                            Pacientes
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-morado" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Clínicas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin_sucursales">Sucursales</a></li>
                            <li><a class="dropdown-item" href="/admin_dentistas">Dentistas</a></li>
                            <li><a class="dropdown-item" href="/admin_horarios">Horarios</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-morado" href="/admin_servmed">
                                Servicios y medicamentos
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-morado" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Citas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin_citas">Citas agendadas</a></li>
                            <li><a class="dropdown-item" href="/admin_notas">Notas</a></li>
                            <li><a class="dropdown-item" href="/admin_recetas">Recetas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-morado" href="/log_off">
                                Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr class="" style="height:50px; border-width:0; color:gray; background-color:blue">
    </header>
    <hr class="" style="height:30px; opacity: 1; background-color: #6600A1">
    
    <main class="px-5">
        <!--TABS-->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-morado active" data-bs-toggle="tab" href="#menu_dentistas">
                    Dentistas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-morado" data-bs-toggle="tab" href="#menu_especialidades">
                    Especialidades
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!--CONTENEDOR DE CRUD DE DENTISTAS-->
            <div id="menu_dentistas" class="container tab-pane active"><br>
                <h3>Dentistas</h3>
                <!--PILLS-->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <button onclick="" class="nav-link active" id="btp1" data-bs-toggle="pill" href="#op1" 
                        type="button" role="pill" aria-controls="op1" aria-selected="true">
                            Registrar dentista
                        </button>
                    </li>
                    <li class="nav-item">
                        <button onclick="" class="nav-link" id="btp2" data-bs-toggle="pill" href="#op2"
                        type="button" role="pill" aria-controls="op2" aria-selected="false">
                            Modificar dentista
                        </button>
                    </li>
                    <li class="nav-item">
                        <button onclick="" class="nav-link" id="btp3" data-bs-toggle="pill" href="#op3" 
                        type="button" role="pill" aria-controls="op3" aria-selected="false">
                            Mostrar dentistas
                        </button>
                    </li>
                </ul>
                <!--menu pills-->
                <div class="tab-content">
                    <div id="op1" class="container tab-pane active">
                        <form id="form-dentista-nuevo" action="/admin_registrar_dentista" method="POST">
                            <div class="row pt-4">
                                <div class="col">
                                    <label>Nombre</label>
                                    <input name="first-name" type="text" class="form-control" id="first-name-field" placeholder="Elvira" required>
                                </div>
                                <div class="col">
                                    <label>Apellido paterno</label>
                                    <input name="last-name1" type="text" class="form-control" id="last-name1-field" placeholder="Gámez" required>
                                </div>
                                <div class="col">
                                    <label>Apellido materno</label>
                                    <input name="last-name2" type="text" class="form-control" id="last-name2-field" placeholder="Robledo" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <label>Teléfono</label>
                                    <input name="tel-field" type="text" pattern="^\d{3}-\d{3}-\d{4}$" class="form-control" id="tel-field" placeholder="811-111-1111" required>
                                </div>
                                <div class="col">
                                    <label>Dirección</label>
                                    <input name="address-field" type="text" class="form-control" id="address-field" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <label>Cedula</label>
                                    <input name="cedula-field" type="text" class="form-control" id="cedula-field" required>
                                </div>
                                <div class="col">
                                    <label>RFC</label>
                                    <input name="rfc-field" type="text" class="form-control" id="rfc-field" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <label>Usuario</label>
                                    <input name="user-field" type="text" class="form-control" id="user-field" required>
                                </div>
                                <div class="col">
                                    <label>Contraseña</label>
                                    <input name="pass-field" type="password" class="form-control" id="pass-field" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <button class="btn btn-morado col-sm-3" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                    <div id="op2" class="container tab-pane fade">
                        <form id="form-nuevo" action="/admin_modificar_dentistas" method="POST">
                            <input type="hidden" name="tabla" value="dentistas">
                            <input type="hidden" name="id_nombre" value="eid">
                            <div class="row pt-4">
                                <div class="col">
                                    <label>ID Dentista</label>
                                    <input name="id" type="text" class="form-control" id="id-field" placeholder="1111" required>
                                </div>
                                <div class="col">
                                    <label>Atributo a modificar</label>
                                    <select class="form-control" id="atributo-field" name="atributo" required>
                                        <option disabled selected>Selecciona un atributo</option>
                                        <option>rfc</option>
                                        <option>nombres</option>
                                        <option>apellidoP</option>
                                        <option>apellidoM</option>
                                        <option>direccion</option>
                                        <option>telefono</option>
                                        <option>cedula</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Valor nuevo</label>
                                    <input name="valor" type="text" class="form-control" id="valor-field" placeholder="valor" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <button class="btn btn-morado col-sm-3" type="submit">Modificar</button>
                            </div>
                        </form>
                    </div>
                    <div id="op3" class="container tab-pane fade">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                        <th>ID</th>
                                        <th>RFC</th>
                                        <th>Nombres</th>
                                        <th>Apellido paterno</th>
                                        <th>Apellido materno</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Cedula</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dentista in dentistas %}
                                <tr>
                                <td>{{ dentista[0] }}</td>
                                <td>{{ dentista[1] }}</td>
                                <td>{{ dentista[2] }}</td>
                                <td>{{ dentista[3] }}</td>
                                <td>{{ dentista[4] }}</td>
                                <td>{{ dentista[5] }}</td>
                                <td>{{ dentista[6] }}</td>
                                <td>{{ dentista[7] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--CONTENEDOR DE CRUD DE ESPECIALIDADES-->
            <div id="menu_especialidades" class="container tab-pane fade"><br>
                <h3>Especialidades de dentistas</h3>
                <!--PILLS-->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="btc1" data-bs-toggle="pill" href="#opc1" 
                        type="button" role="pill" aria-controls="opc1" aria-selected="true">
                            Insertar especialidad
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="btc2" data-bs-toggle="pill" href="#opc2"
                        type="button" role="pill" aria-controls="opc2" aria-selected="false">
                            Mostrar especialidades
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="btc3" data-bs-toggle="pill" href="#opc3"
                        type="button" role="pill" aria-controls="opc3" aria-selected="false">
                            Insertar especialidad a un dentista
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="btc4" data-bs-toggle="pill" href="#opc4"
                        type="button" role="pill" aria-controls="opc4" aria-selected="false">
                            Mostrar especialidades de dentistas
                        </button>
                    </li>
                </ul>
                <!--menu pills-->
                <div class="tab-content">
                    <div id="opc1" class="container tab-pane active">
                        <form id="form-registrar-especialidad" action="/admin_registrar_especialidad" method="POST">
                            <div class="row pt-4">
                                <div class="col">
                                    <label>Nombre de especialidad</label>
                                    <input name="id-specialties" type="text" class="form-control" id="id-specialties" placeholder="" required>
                                </div>
                                <div class="col">
                                    <label>Descripción de especialidad</label>
                                    <input name="specialties-desc" type="text" class="form-control" id="specialties-desc" placeholder="" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <button class="btn btn-morado col-sm-3" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>

                    <div id="opc2" class="container tab-pane fade">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID de especialidad</th>
                                    <th>Especialidad</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for especialidad in especialidades %}
                                <tr>
                                <td>{{ especialidad[0] }}</td>
                                <td>{{ especialidad[1] }}</td>
                                <td>{{ especialidad[2] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="opc3" class="container tab-pane fade">
                        <form id="form-asignar-esp" action="/admin_registrar_den_esp" method="POST">
                            <div class="row pt-4">
                                <div class="col">
                                    <label>ID del dentista</label>
                                    <input name="id-dentist" type="text" class="form-control" id="id-dentist" placeholder="" required>
                                </div>
                                <div class="col">
                                    <label>ID de la especialidad</label>
                                    <input name="id-specialty" type="text" class="form-control" id="id-specialty" placeholder="" required>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <button class="btn btn-morado col-sm-3" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                    <div id="opc4" class="container tab-pane fade">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID de dentista</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for espe in den_esp %}
                                <tr>
                                <td>{{ espe[0] }}</td>
                                <td>{{ espe[1] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>

    </main>

    <hr class="" style="height:10px; opacity: 1; background-color: #6600A1">

    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/node_modules/jquery/dist/jquery.slim.js"></script>
    <script type="text/javascript">
        let tabActiva = 1;
        $("#btp1").addClass("text-white bg-morado");
        for (var i = 2; i < 4; i++) {
            $("#btp"+i).addClass("text-morado");
        }

        $("#btp1").on("click", function() {
            $("#btp"+tabActiva).removeClass("text-white bg-morado");
            $("#btp"+tabActiva).addClass("text-morado");
            tabActiva = 1;
            $("#btp"+tabActiva).removeClass("text-morado");
            $("#btp"+tabActiva).addClass("text-white bg-morado");
        });

        $("#btp2").on("click", function() {
            $("#btp"+tabActiva).removeClass("text-white bg-morado");
            $("#btp"+tabActiva).addClass("text-morado");
            tabActiva = 2;
            $("#btp"+tabActiva).removeClass("text-morado");
            $("#btp"+tabActiva).addClass("text-white bg-morado");
        });
        
        $("#btp3").on("click", function() {
            $("#btp"+tabActiva).removeClass("text-white bg-morado");
            $("#btp"+tabActiva).addClass("text-morado");
            tabActiva = 3;
            $("#btp"+tabActiva).removeClass("text-morado");
            $("#btp"+tabActiva).addClass("text-white bg-morado");
        });
    
        let tabActiva2 = 1;
        $("#btc1").addClass("text-white bg-morado");
        for (var i = 2; i <= 4; i++) {
            $("#btc"+i).addClass("text-morado");
        }

        $("#btc1").on("click", function() {
            $("#btc"+tabActiva2).removeClass("text-white bg-morado");
            $("#btc"+tabActiva2).addClass("text-morado");
            tabActiva2 = 1;
            $("#btc"+tabActiva2).removeClass("text-morado");
            $("#btc"+tabActiva2).addClass("text-white bg-morado");
        });

        $("#btc2").on("click", function() {
            $("#btc"+tabActiva2).removeClass("text-white bg-morado");
            $("#btc"+tabActiva2).addClass("text-morado");
            tabActiva2 = 2;
            $("#btc"+tabActiva2).removeClass("text-morado");
            $("#btc"+tabActiva2).addClass("text-white bg-morado");
        });
        
        $("#btc3").on("click", function() {
            $("#btc"+tabActiva2).removeClass("text-white bg-morado");
            $("#btc"+tabActiva2).addClass("text-morado");
            tabActiva2 = 3;
            $("#btc"+tabActiva2).removeClass("text-morado");
            $("#btc"+tabActiva2).addClass("text-white bg-morado");
        });

        $("#btc4").on("click", function() {
            $("#btc"+tabActiva2).removeClass("text-white bg-morado");
            $("#btc"+tabActiva2).addClass("text-morado");
            tabActiva2 = 4;
            $("#btc"+tabActiva2).removeClass("text-morado");
            $("#btc"+tabActiva2).addClass("text-white bg-morado");
        });

        function cerrarModal() {
                $("#cliente_existente").modal("toggle");
                $("#cliente_invalido").modal("toggle");
        };

        const xHTTP = new XMLHttpRequest();
        bandera = false;

        xHTTP.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    validado = JSON.parse(xHTTP.responseText)["validado"]
                    if (validado != "") {
                        $("#cliente_invalido").modal("toggle");
                        $("#cliente_existente").modal("toggle");
                    } else {
                        bandera = true;
                    }
                }
            }
            
        $("#form-nuevo").on("submit", function() {
            url = "http://localhost:5000/val_usuario/" + $("#email-field").val();
            xHTTP.open("GET", url, false);
            xHTTP.send();
            if (!bandera) {
                return false;
            }
        });    

    </script>
</body>
</html>