<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/custom.css.map">
    <title>Administración Pacientes Arte Dental</title>
</head>
<body >
    <header class="">
        <nav class="px-5 navbar navbar-expand-sm bg-white fixed-top">
            <div class="container-fluid">
                <!--LOGO-->
                <a class="navbar-brand" href='/'>
                    <img src="/static/images/arte dental logo.png">
                </a>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-morado" href="/admin_pacientes">
                            Pacientes
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-morado" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Clínicas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin_sucursales">Sucursales</a></li>
                            <li><a class="dropdown-item" href="/admin_dentistas">Dentistas</a></li>
                            <li><a class="dropdown-item" href="/admin_horarios">Horarios</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-morado" href="/admin_servmed">
                                Servicios y medicamentos
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-morado" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Citas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin_citas">Citas agendadas</a></li>
                            <li><a class="dropdown-item" href="/admin_notas">Notas</a></li>
                            <li><a class="dropdown-item" href="/admin_recetas">Recetas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <hr class="" style="height:50px; border-width:0; color:gray; background-color:blue">
    </header>
    <hr class="" style="height:30px; opacity: 1; background-color: #6600A1">
    
    <main class="px-5">
        <h1 class="text-center">Administración</h1>
        <p>
            Bienvenide, administradore. Aquí puedes realizar, según las especificaciones
            de cada tabla, operaciones CRUD, lo cual conlleva crear, leer, actualizar y borrar
            datos, y lo mejor es que usarás una interfaz, ya que no eres ITC, figlio di Troia.
            Baci nel senza-angoli.
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellido paterno</th>
                    <th>Apellido materno</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Fecha de nacimiento</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                <td>{{ paciente[0] }}</td>
                <td>{{ paciente[1] }}</td>
                <td>{{ paciente[2] }}</td>
                <td>{{ paciente[3] }}</td>
                <td>{{ paciente[4] }}</td>
                <td>{{ paciente[5] }}</td>
                <td>{{ paciente[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>

    <hr class="" style="height:10px; opacity: 1; background-color: #6600A1">

    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/node_modules/jquery/dist/jquery.slim.js"></script>
</body>
</html>

